/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    min-height: 100vh;
	line-height: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
    max-width: 2560px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
    border-bottom: 8px double black;
    margin-bottom: 16px;
    padding-bottom: 8px;
    text-align: justify;
}

h1 {
    font-size: 120px;
    margin-bottom: 8px;
}

h2 {
    font-size: 64px;
    margin-bottom: 8px;
}

h3 {
    font-size: 32px;
    text-transform: uppercase;
}

h4 {
    font-size: 32px;
    margin-bottom: 8px;
    font-family: monospace;
}

a {
    color: inherit;
    text-decoration: none;
}

nav {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.chess {
    font-family: monospace;
    margin: 0;
    background-color: white;
    color: black;
}

.normal-letter {
    background-color: white;
    color: black;
}

.white-letter {
    background-color: black;
    color: white;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    font-size: 32px;
}

nav ul li {
    padding: 4px 12px;
    border-radius: 6px;
    transition: 700ms;
}

nav ul li:hover {
    background-color: orchid;
}

nav ul li:active {
    background-color: black;
    color: white;
}

#current-page {
    background-color: black;
    color: white;
}

#current-page:hover {
    background-color: darkorchid;
}

#current-page:active {
    background-color: white;
    color: black;
}

.hero {
    width: 100%;
}

#index-hero {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 16px;
}

#index-hero-title {
    margin-bottom: 16px;
}

button {
    outline: none;
    border: none;
    background-color: black;
    color: white;
    box-shadow: inset 0 0 0 0 darkorchid;
    transition: box-shadow 2s cubic-bezier(0,1.2,0.8,1);
    cursor: pointer;
    font-family: monospace;
}

button:hover {
    text-shadow: white 0 0 5px;
}

.hero-button {
    font-size: 48px;
}

.hero-button:hover {
    box-shadow: inset 550px 0 0 0 darkorchid;
}

.section-button {
    font-size: 32px;
}

#about-button:hover {
    box-shadow: inset 230px 0 0 0 darkorchid;
}

.line-list {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    flex: 1;
    gap: 32px;
    margin-bottom: 8px;
}

.service-box {
    max-width: fit-content;
    padding: 0 8px;
    border-left: 8px outset black;
    border-right: 8px outset black;
    text-align: center;
    font-family: monospace;
}

#service-button:hover {
    box-shadow: inset 250px 0 0 0 darkorchid;
}

.artist-box {
    height: 440px;
    width: 440px;
    outline: 8px outset black;
    position: relative;
    transition: 2s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.artist-chess {
    height: 440px;
    width: 440px;
    outline: 8px outset black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.chess-box {
    height: 220px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-weight: 900;
    transition: 500ms;
    text-align: center
}

.chess-box h3 {
    font-size: 32px;
}

.chess-child {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 500ms;
}

.artist-box:hover .chess-child {
    opacity: 0.7;
}

.cb-white {
    background-color: white;
    color: black;
}

.cb-black {
    background-color: black;
    color: white;
}

.chess-box a {
    margin: 16px;
}

#artist-link-box:hover div {
    background-color: black;
    color: white;
}

#artist-link-box:hover .cb-black {
    background-color: white;
    color: black;
}

form {
    margin: 8px 0;
    padding: 8px 32px;
    background-color: black;
    color: white;
    border-radius: 16px;
    border: 8px double white;
    box-shadow: 2px 2px 2px 0 darkorchid;
    font-family: monospace;
}

label {
    font-size: 32px;
}

input, textarea, input::file-selector-button, select {
    font-family: monospace;
    font-size: 32px;
    margin: 2px 0 8px 0;
    border-radius: 8px;
    outline: none;
    border: none;
    padding: 4px;
}

textarea {
    max-width: 100%;
}

input[type=submit] {
    background-color: white;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 darkorchid;
    transition: color 2s cubic-bezier(0,1.2,0.8,1), box-shadow 2s cubic-bezier(0,1.2,0.8,1);
}

input[type=submit]:hover {
    color: white;
    text-shadow: white 0 0 5px;
    box-shadow: inset 130px 0 0 0 darkorchid;
}

input::file-selector-button {
    background-color: white;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 darkorchid;
    transition: color 2s cubic-bezier(0,1.2,0.8,1), box-shadow 2s cubic-bezier(0,1.2,0.8,1);
    margin-right: 8px;
}

input::file-selector-button:hover {
    color: white;
    text-shadow: white 0 0 5px;
    box-shadow: inset 160px 0 0 0 darkorchid;
}

#careers-button:hover {
    box-shadow: inset 650px 0 0 0 darkorchid;
}

.last-container {
    border-bottom: none;
}

footer{
    background-color: black;
    color: white;
    padding-top: 16px;
}

@media (max-width: 2560px){
    .container {
        max-width: 1440px;
    }
}

@media (max-width: 1440px){
    .container {
        max-width: 1024px;
    }

    h1 {
        font-size: 100px;
    }
    
    h2 {
        font-size: 48px;
        margin-bottom: 8px;
    }
    
    h3 {
        font-size: 30px;
        text-transform: uppercase;
    }
    
    h4 {
        font-size: 24px;
        margin-bottom: 8px;
        font-family: monospace;
    }

    nav{
        height: 120px;
    }

    .hero-button {
        font-size: 32px;
    }
    
    .hero-button:hover {
        box-shadow: inset 370px 0 0 0 darkorchid;
    }

    .section-button {
        font-size: 24px;
    }
    
    #about-button:hover {
        box-shadow: inset 170px 0 0 0 darkorchid;
    }

    #service-button:hover {
        box-shadow: inset 190px 0 0 0 darkorchid;
    }

    .artist-box {
        height: 320px;
        width: 320px;
    }

    .artist-chess {
        height: 320px;
        width: 320px;
    }

    .chess-box {
        height: 160px;
        width: 160px;
    }
    
    .chess-box h3 {
        font-size: 24px;
    }

    label {
        font-size: 24px;
    }
    
    input, textarea, input::file-selector-button, select {
        font-size: 24px;
    }
    
    input[type=submit]:hover {
        box-shadow: inset 90px 0 0 0 darkorchid;
    }

    #careers-button:hover {
        box-shadow: inset 490px 0 0 0 darkorchid;
    }
}

@media (max-width: 1024px){
    .container {
        max-width: 768px;
    }
}

@media (max-width: 768px){
    .container {
        max-width: 425px;
    }
}

@media (max-width: 425px){
    .container {
        max-width: 375px;
    }
}

@media (max-width: 375px){
    .container {
        width: 100%;
    }
}

@media (max-width: 320px){
    .container {
        max-width: 320px;
    }
}

main.container {
    border: none;
}

#services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    gap: 16px;
    margin-bottom: 16px;
}

#services-container .service-box {
    border: none;
}

.service-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.service-name {
    padding: 8px 32px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    box-shadow: 0 2px 8px 0 orchid;
    cursor: pointer;
    transition: 500ms;
}

.service-name:active,
.service-name:hover {
    background-color: hsl(0, 0%, 20%);
}

.sn-white {
    background-color: white;
    color: black;
}

.sn-white:active,
.sn-white:hover {
    background-color: hsl(0, 0%, 95%);
}

.plus {
    transition: 1s;
}

.exit {
    transform: rotate(225deg);
}

.service-description {
    background-color: hsl(302, 59%, 95%);
    text-align: justify;
    padding: 0 32px;
    max-height: 0;
    overflow: hidden;
    transition: 1s;
}

.service-description-expand {
    max-height: 100px;
}

/*Artists.html*/

#artist-main {
    width: 100%;
}

#artist-list {
    width: 100%;
    display: grid;
    grid-template: 500px / repeat(3, 440px);
    justify-content: space-between;
    grid-auto-rows: 500px;
    grid-auto-columns: repeat(3, 440px);
}

#artist-page-button:hover {
    box-shadow: inset 310px 0 0 0 darkorchid;
}

#a1 {
    background-image: url(Resources/Bacchylides.jpg);
}

#a2 {
    background-image: url(Resources/Luzhu.jpg);
}

#a3 {
    background-image: url(Resources/Sha-Amun-en-su.jpg);
}

#a4 {
    background-image: url(Resources/Cai-Yan.jpg);
}

#a5 {
    background-image: url(Resources/Bernart.jpg);
}

#a6 {
    background-image: url(Resources/Machaut.jpg);
}

#a7 {
    background-image: url(Resources/Vivaldi.jpg);
}

#a8 {
    background-image: url(Resources/Mozart.jpg);
}

#a9 {
    background-image: url(Resources/Maria-Tanase.jpg);
}

#a10 {
    background-image: url(Resources/Miles-Davis.jpg);
}

#a11 {
    background-image: url(Resources/Renato-Carosone.jpg);
}
/*Careers.html*/

#jobs-list {
    width: 100%;
    display: grid;
    grid-template: 300px / repeat(5, 250px);
    grid-auto-rows: 300px;
    grid-auto-columns: repeat(5, 250px);
}

.job-box {
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
    text-align: center;
    font-family: monospace;
    background-color: black;
    color: white;
    border: 8px outset hsl(302, 59%, 95%);
    transition: 500ms;
    z-index: 1;
    box-shadow: -4px 0 4px 0 hsl(302, 59%, 95%), 4px 0 4px hsl(302, 59%, 95%);
}

.job-box:hover{
    text-shadow: 0 0 16px white;
    border: 8px outset hsl(302, 59%, 75%);
    z-index: 2;
}

/**Career Pages**/

.career-application {
    border-bottom: none;
}